{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="tours">
    <div class="center-text">
        <h2>Mamamiya</h2>
    </div>

    <div class="tour-content">
        <div class="box">
            <img src="https://static.hdrezka.ac/i/2022/2/18/ib313d3d4801bhf64v47e.jpg" alt="">
            <h6>East Java</h6>
            <h4>Mount promo</h4>
        </div>
        <div class="box">
            <img src="https://static.hdrezka.ac/i/2022/2/18/ib313d3d4801bhf64v47e.jpg" alt="">
            <h6>East Java</h6>
            <h4>Mount promo</h4>
        </div>
        <div class="box">
            <img src="https://static.hdrezka.ac/i/2022/2/18/ib313d3d4801bhf64v47e.jpg" alt="">
            <h6>East Java</h6>
            <h4>Mount promo</h4>
        </div>
    </div>
</section>

{% endblock content %}