{% extends 'base.html' %}

{% block title %}Посты в категории{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ category.name }}</h1>
    <div class="row">
        <div class="main_box">
            {% for post in posts %}
            <div class="card_one">
                <h2>{{ post.title }}</h2>
                <img src="{{post.photo.url}}" alt="">
                <p>{{ post.content| truncatewords:15 | linebreaks }}</p>
                <div class="btn-read">
                    <a href="{{post.get_absolute_url}}">Читать больше</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
